.host {
    overflow: hidden;
    display: block;
}

h3 {
    clear: both;
}
.menu {
    float: left;
    width: 200px;
}

.content {
    float: left;
    width: 200px;
}


img{
    float: left;
    margin-right:10px;
    height: 150npx;
}