<h2>Our products:</h2>

Selected ID:<b>{{selectedId}}</b><BR>
Selected Name:<b>{{selectedName}}</b><BR>
Selected Price:<b>{{selectedPrice}}</b><BR>
    
<button (click)= "selectedId = null; selectedName = null; selectedPrice = null; ">RESET</button><BR>
<HR>

<app-product 
    [product]="product"
    (mouseover)="handleProductMouseOver(product)"
    *ngFor="let product of products"
    >
</app-product>
ngFor: 
<p *ngFor="let product of products">

    peoducts.page.contact from loop ngFor: product: <b>{{product.name}}</b>
</p>


<pre>
{{ products | json }}
</pre>